/* Styles for HTML file */
@font-face {
    /* Reference the font from its directory. */
    font-family: 'OperationGuideFont';
    src: url('./font/Rodin-Font.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
html{
    /* Set HTML background color to black */
    background-color:white
}
h1{
    /* Make the header color white and use the referenced font */
    color:black;
    font-family: 'OperationGuideFont', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

p {
    /* Make the paragraph color white and use the referenced font */
    color:black;
    font-family: 'OperationGuideFont', sans-serif;
    font-weight: normal;
    text-align: left;
}

.Image-Column{
    width: 45px;
    height: 30px;
    background-color: blue;
}

.Image-Cell{
    max-width: 30px;
    height: auto;
    display: block;
    margin: auto;
}

.Text-Column{
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

.Text-Column-Font{
    font-family: 'OperationGuideFont', sans-serif;
    font-weight: normal;
    text-align: left;
}

.Text-Row-Color{
    background-color: red;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}